@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Raleway&family=Ubuntu&display=swap');

html,
body {
	margin: 0 auto;
	background: url(https://cdn.hipwallpaper.com/i/69/76/Iqbc14.jpg) 100% 100%;
	/* min-height: 100vh; */
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

/* Home */

.home-wrapper {
	padding-top: 3rem;
}

.home-carousel-heading {
	color: white;
	font-size: 8vmin;

	padding: 1vmin;

	position: relative;
	top: 4vh;
}

.home-artist-statement-caption {
	margin-top: 4vh;
	padding: 2vmin 4vmin;
}

.home-artist-statement-container {
	display: grid;
	align-items: center;
	justify-content: center;
}

.home-artist-statement {
	text-indent: 2.5rem;
	padding: 0 4vmin;
	max-width: 80vw;
}

.home-statement-signature {
	font-family: cursive;
	font-size: 1.2rem;
	text-align: right;
	padding-right: 4vh;
}

.home-contact-us-container {
	text-align: center;

	display: grid;
	justify-content: center;
	align-items: center;
}

.home-contact-us {
	border-bottom: 2px solid black;
	font-size: 1.2rem;
	padding: 1vmin;
	margin-top: 4vmin;
}

.home-contact-us-number {
	font-size: 1rem;
}

/* Nav-Header */
#navbar,
.nav-caption {
	font-family: 'Ubuntu';
	font-size: 2vmin;
}

.nav-caption {
	letter-spacing: 0.2vmin;
	color: rgb(203, 249, 255);
	font-size: 3.5vmin;
}

#navbar a {
	padding: 0 2vmin;
}

#navbar a:hover {
	background: rgba(203, 249, 255, 0.5);
	color: black;
}

#nav-dropdown-sub a {
	/* border-bottom: none;
	font-size: 2vmin;
	padding: 0 1vmin;
	letter-spacing: 0.15vmin;
	
	display: flex; */
}

.nav-dropdown-item > * {
	font-size: 2vmin;
	letter-spacing: 0.15vmin;

	transition: 0.5s;
	/* display: flex; */
}

.nav-dropdown-item > *:hover {
	border-bottom: 1px solid black;
}

.nav-second-category {
	border-top: 2px solid grey;
}

/* Subnav */

.subnav-container {
	display: grid;
	text-align: center;
	/* justify-content: space-evenly; */
	border-top: 2px solid rgba(76, 116, 248, 0.37);
	border-bottom: 2px solid rgba(76, 116, 248, 0.37);

	margin: 2rem;
	border-radius: 2ch;
}

.active1 {
	background: rgba(126, 171, 230, 0.5);
}

.subnav-right {
	border-top: 1.5px solid rgba(76, 116, 248, 0.37);
}

.subnav-left,
.subnav-right {
	/* margin: 1rem 1rem; */
}

.subnav-left > a,
.subnav-right > a {
	margin: 1rem 0rem;
	line-height: 3rem;
	padding: 1vmin 2vmin;
	transition: 1s;
	font-size: 1.5rem;
	font-family: 'Ubuntu';
	border-radius: 5px;
	color: rgb(81, 83, 119);
}

/* Artwork Form */

.artwork-form-container,
.artwork-all-container {
	display: grid;
	align-items: center;
	/* justify-content: center; */
	margin-top: 2rem;
	padding: 2rem 15vw;
}


#all-artwork-heading-text {
	/* border-left: 2px solid black; */
	border-bottom: 2px solid black;

	/* margin: 2vmin 10rem; */
	text-align: center;
}

#artwork-form-heading-text {
	border-radius: 1ch;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

	background: rgba(162, 204, 252, 0.342);
	text-align: center;
}

.artwork-form-subheading {
	font-size: 3vmin;
	padding: 2vmin 0;
	text-align: center;
}

.artwork-form-form {
	display: grid;
}

.artwork-form-form button {
	margin: 1.5rem 0 0 0;
}

.artwork-form-form > label {
	margin-top: 1.8rem;
	font-weight: 600;
}

#description-label {
	/* margin-top: 0; */
}

.size-inputs {
	display: flex;
	justify-content: left;
	align-items: left;
}

.size-inputs-labels > *,
.size-inputs-inputs > * {
	margin-bottom: 1vmin;
}

.size-inputs-inputs {
	display: grid;
	padding-left: 2vmin;
}

.size-inputs-labels {
	display: grid;
}

/* Artwork All */

.click-for-detail {
	color: rgb(115, 115, 165);
	font-size: 1.2rem;
	margin: 0 1vmin;
}

/* .artwork-subcat-container {
	padding: 2vmin;
}

 */
td a {
	/* font-style: italic; */
}

td a:hover {
	/* text-decoration: underline; */
}

/* .artwork-subcat-container > * {
	padding: 10vmin;
} */

/* @media only screen and (min-width: 1650px) {
	.subnav-container {
		margin: 4vmin 30vw;
		justify-content: space-evenly;
	}} */

/* Subcategory */

.artwork-category-heading {
	border-bottom: 2px solid black;

	padding: 2vmin 0;
	margin: 2vmin 10rem;
	text-align: center;
}

.artwork-gallery-section {
	display: grid;
	grid-template-columns: repeat(12, minmax(250px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.artwork-gallery-section img {
	width: 100%;
	margin: 2%;
	padding: 2%;
}
.artwork-gallery-section p {
	text-align: center;
	font-size: 1.5rem;
}

.artwork-subcategory-heading {

}

@media only screen and (min-width: 1550px) {
	.home-artist-statement {
		max-width: 56vw;
	}
}

@media only screen and (min-width: 1280px) {
	.subnav-container {
		margin: 4vmin 25vw;
	}
}

@media only screen and (min-width: 900px) {
	.size-inputs {
		justify-content: left;
		align-items: center;
	}
	.size-inputs-inputs > * {
		width: 30vw;
	}
	.subnav-container {
		margin: 4vmin 15vw;
	}
}

@media only screen and (max-width: 850px) {
	.subnav-left > a,
	.subnav-right > a {
		font-size: 1rem;
	}
	.size-inputs-inputs,
	.size-inputs-labels {
		display: grid;
	}
}

@media only screen and (max-width: 600px) {
	#navbar {
		font-size: 1rem;
	}
	.subnav-container {
		border-radius: 0;
		justify-content: none;
		border: 2px solid rgba(76, 116, 248, 0.37);
	}
	.subnav-left,
	.subnav-right {
		display: grid;
	}
	/* .subnav-right {
		border-top: 2px solid rgba(76, 116, 248, 0.37);
	} */
	.subnav-left > a,
	.subnav-right > a {
		font-size: 1rem;
		margin: 0;
		line-height: 3.5vmin;
		padding: 0.5rem 0;
		border-radius: 0;
		transition: 0.2s;
	}
	.subnav-left > a:hover,
	.subnav-right > a:hover {
		background: rgba(70, 192, 248, 0.521);
	}
	@media only screen and (max-height: 375px) {
		.subnav-left > a,
		.subnav-right > a {
			padding: 0.5rem 0;
		}
	}
}
